@using Models.ViewModel;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home";
}

<div class="container m-2 p-0  w-100">
    <div class="row gap-2  w-100">
       @foreach (var product in Model)
        {
            var priceAfterDiscount = Math.Round((product.Price - product.Price * 0.30), 2);


            <div class="card col-lg-3 col-md-6">

                <div class="card hover-zoom" >
                    <img src="~/Images/Products/@product.ImageUrl" alt="product Image" style="height:200px">
                    <div class="card-body w-100">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">
                            Category: @product.category.Name
                        </p>
                        <p class="card-text">
                            Author: @product.Author
                        </p>
                        <p class="card-text">
                            Price: @priceAfterDiscount   <del> @product.Price£E</del>
                        </p>
                        <div class="d-flex justify-content-between align-content-center" >
                            <a  class="btn btn-primary" asp-action="Details" asp-route-productId="@product.Id">
                                <i  class="fa-solid fa-cart-shopping"></i>
                                Add To Cart
                            </a>
                            <i class="fa-regular fa-heart mt-2"></i>
                        </div>
                    </div>
                </div>

            </div>
            
        }
        
    </div>
</div>
