@using Models.ViewModel;
@using Utilities;
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home";

}
@{
    var categoryId = (int)ViewBag.categoryId;
    var selectedCategory = "btn-primary";
    var unselectedCategory = "btn-outline-primary";
}

<div class=" d-flex m-5 justify-content-end">
    @{
        var allClass =categoryId==0 ? selectedCategory : unselectedCategory;;

    }
     <form method="get" asp-action="Index" >
           <button type="submit" class="btn @allClass me-2">All</button>
     </form>
      @foreach (var category in ViewData["Categories"] as IEnumerable<Category>)
            {
                var categoriesClass = category.Id == categoryId ? selectedCategory : unselectedCategory;
               
              <form method="get" asp-action="Index" >
                        <input type="hidden" name="categoryId" value="@category.Id" />
                        <button type="submit" class="btn @categoriesClass me-2">@category.Name</button>
                    </form>
            }
</div>

@if(Model.Count()>0){
<div class="mt-5 mx-2">
    <div class="row ">
       @foreach (var product in Model)
        {
            var priceAfterDiscount = Math.Round((product.Price - product.Price * 0.30), 2);


            <div class="col-sm-6 col-md-4 col-lg-3">

                <div class="card mb-4 hover-zoom">
                    <img src="~/Images/Products/@product.ImageUrl" alt="product Image" style="height:200px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@product.Title</h5>
                        <p class="card-text">
                            Category: <a asp-action="categoryProucts" asp-route-categoryId="@product.CategoryId" class="text-primary text-decoration-none">@product.category.Name</a> 
                        </p>

                        <p class="card-text">
                            Author: @product.Author
                        </p>
                        <p class="card-text">
                            Price: @priceAfterDiscount.ToString("c", new System.Globalization.CultureInfo("en-US"))   <del> @product.Price</del>
                        </p>
                        <div class="d-flex justify-content-between align-content-center" >
                            <a  class="btn btn-primary" asp-action="Details" asp-route-productId="@product.Id">
                                <i  class="fa-solid fa-cart-shopping"></i>
                                Add To Cart
                            </a>
                            <a asp-action="">
								<i class="fa-regular fa-heart mt-2"></i>
							</a>
                        </div>
                    </div>
                </div>

            </div>
            
        }
        
    </div>
</div>
}else{

<div class="container mt-5 alert alert-danger">
    <h1>No Product Found</h1
</div>
}