@using Models.ViewModel;

@model ShoppingCartViewModel
@if(Model.ShoppingCartItems.Count()>0){
<form method="post">
    <br />
    <div class="contaier ">
        <div class="">
            <div class="d-flex justify-content-between m-5">
                <h5 class="pt-2 text-primary">
                    Shopping Cart
                </h5>
                <a class="btn btn-outline-danger">
                    Back To Home
                </a>

            </div>
        </div>
@foreach (var shoppingCartItem in Model.ShoppingCartItems) {
            <div class="">
                <div class="row mb-3 pb-3">

                    <div class="col-md-10 offset-md-1">

                        <div class="row border-bottom pb-2">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                <img src="~/Images/Products/@shoppingCartItem.product.ImageUrl" class="rounded" width="100%" />
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3 d-flex flex-column">
                                <h5 class=""><strong>@shoppingCartItem.product.Title</strong></h5>
                               
                            </div>
                            <div class="col-12  col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        Count: 
                                        <span class="text-muted">@shoppingCartItem.Count</span>
                                    </h6>
                                    <h6 class="fw-semibold">
                                        Price: 
                                        <span class="text-muted">
                                            @shoppingCartItem.PriceBasedOnCount.ToString("c", new System.Globalization.CultureInfo("en-US"))
                                            </span>
                                    </h6>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-action="incrementOrderCount" asp-route-CartId="@shoppingCartItem.Id" class="btn btn-outline-primary bg-gradient py-2">
                                            <i class="fa-solid fa-plus"></i>
                                    </a >
                                        <a asp-action="decrementOrderCount" asp-route-CartId="@shoppingCartItem.Id" class="btn btn-outline-danger bg-gradient py-2">
                                          <i class="fa-solid fa-minus "></i>
                                    </a>
                                </div>

                            </div>
                            <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">
                                        <a asp-action="DeleteCartItem" asp-route-CartId="@shoppingCartItem.Id" class="btn btn-danger bg-gradient py-2 ">
                                        <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			</div>
       }
                <div class="border-0">
                    <div class="row">
                        <div class="col-md-4 offset-md-4 text-success">
                            <ul class="list-group mb-4">
                                <li class="d-flex justify-content-between align-items-center">
                                    <h5 > Total (USD $)</h5>
                            <h4>@Model.OrderHeader.OrderTotal.ToString("c", new System.Globalization.CultureInfo("en-US")) </h4>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 offset-md-5 d-flex">
                    
                            <a asp-action="Summary" class="btn btn-success border-0 bg-gradient w-100 py-2">
                        <i class="fa fa-truck"></i> Order
                    </a>
                        </div>
                    </div>
                </div>
           
</form>
}else{
<div class="container mt-5 alert alert-danger">
	<h1>Not Items Found1</h1>
</div>
}